@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    --theme-color: #8c5dd9;
    --secondary-text-color: #565656;
}

h1 {
    font-family: "Playfair Display", serif;
    font-weight: normal;
    margin: 0;
}

header{
    height: 100%;
    width: 100%;
}

header .background{
    position: absolute;
    background-color: var(--theme-color);
    height: 98%;
    width: 100%;
    transform: skewY(-12deg);
    transform-origin: left;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
    min-width: min-content;
}

.aboutMe{

    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 120px;
    padding-right: 80px;
    box-sizing: border-box;
}

.aboutMe .container{
    background-color: white;
    height: 400px;
    padding: 40px;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    h1 {
        font-size: 3em;
    }
    
    .content{
        font-family: "Roboto", sans-serif;
        font-size: 1.2em;
        color: var(--secondary-text-color);
        min-width: 500px;
        margin-bottom: 32px;
    }
}

#aboutMeImgMobile{
    display: none;
}

#aboutMeImg{
    height: 600px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    float: left;
    transform: translate(-40px, -24%);
}

.aboutMe .links {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.links a > img{
    height: 2em;
    width: 2em;
}

/* Main */
main {
    padding: 100px;
}

main > div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: stretch;
    gap: 40px;

    h1 {
        font-size: 3em;
    }
}

main .worksGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 360px));
    grid-template-rows: repeat(2, 400px);
    gap: 80px;
    justify-content: space-evenly;
}


main .worksGrid .project {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);


    .screenshot {
        flex: 1.6;
        object-fit: cover;
        border-bottom: .5px solid blueviolet;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}

.aboutProject {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    gap: 16px;
}

.aboutProject .title {
    display: flex;
    justify-content: space-between;

    .name {
        display: flex;
        font-family: "Playfair Display", serif;
        font-size: 1.6em;    
    }
    
    .links {
        display: flex;
        gap: 10px;
        padding-top: 4px;
    }
}

.aboutProject .description {
    color: var(--secondary-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}


/* Footer area */
footer {
    background-color: var(--theme-color);
    color: white;
    padding: 75px 100px;
    min-width: min-content;
}

footer .contact {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-size: 1.6em;
    align-items: center;
}

.contact .info {
    display: flex;
    flex-direction: column;
    gap: 36px;
    font-family: "Roboto", sans-serif;

    .phoneAndEmail {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .phone, .email {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .links {
        display: flex;
        gap: 24px;
        font-size: 0.8em;
    }
}

footer .contact > img {
    width: 600px;
}


@media screen and (max-width: 1260px) {
    #aboutMeImg{
        height: 500px;
        transform: translate(-40px, -18%);
    }

    footer .contact > img {
        width: 500px;
    }

}

/* @media screen and (max-width: 1164px){
    .aboutMe .container > img{
        height: 500px;
        top: -90px;
    }

    .aboutMe .container {
        height: 400px;
    }
} */

@media screen and (max-width: 1164px){
    #aboutMeImg{
        position: relative;
        height: 450px;
        transform: translate(0px);
        left: -100px;
        top: -100px;
        margin-right: -60px;
        margin-bottom: -80px;
    }

    .aboutMe .container {
        height: fit-content;
        /* margin-top: auto; */

        h1{
            text-align: center;
        }
    }

    .aboutMe .links{
        display: none;
    }

    .aboutMe .container .content{
        margin-bottom: 0px;
    }


    header .background{
        height: 80%;
    }

    main .worksGrid {
        grid-template-columns: repeat(2, minmax(300px, 400px));
        grid-template-rows: repeat(3, minmax(300px, 400px));
    }

    footer .contact > img {
        content: url("images/contactMe-tablet.jpeg");
        width: 300px;
    }

    footer .contact {
        font-size: 1.4em;
        gap: 40px;
    }

    main, footer{
        padding: 60px;
    }
}

@media screen and (max-width: 700px){
    header {
        height: auto;
    }
    footer {
        min-width: 360px;
    }

    #aboutMeImg{
        display: none;
    }

    #aboutMeImgMobile {
        display: block;
        z-index: 1;
        position: static;
        width: 100%;
        max-width: 400px;
        border-radius: 4px;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 50px;
        height: auto;
        min-width: 400px;
    }

    .aboutMe .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px;
        align-items: center;
        height: fit-content;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .content{
            min-width: auto;
            margin-top: 0px;
        }

        .links {
            display: flex;
        }
    }

    main .worksGrid {
        grid-template-columns: repeat(1, minmax(300px, 360px));
        grid-template-rows: repeat(6, minmax(300px, 1fr));
        gap: 50px;
    }


    footer {
        padding: 0;
        .contact{
            flex-direction: column;
            gap: 0px;
        }
    }

    main,
    footer .info {
        padding: 40px;
        font-size: 0.9em;
    }

    footer .contact > img{
        width: 100%;
    }
}